[package]
name = "pst-verifier"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
serde.workspace = true
serde_json.workspace = true
uny-korn-audit = { path = "../audit" }
